.contain{
    margin-top: 130px;
    margin-bottom: 130px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.heading{
    font-size: 30px;
    color: #6610f2;
    font-weight: 500;
}
.subHeading{
    font-size: 34px;
    font-weight: bold;
    color: #222a41;
    width: 645px;
}

@media screen and (max-width: 1200px) {
    .contain{
        margin-top: 80px;
        margin-bottom: 80px;
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media screen and (max-width: 770px) {
    .subHeading{
        font-size: 25px;
        width: auto;
    }
    .heading{
        font-size: 20px;
    }
}

@media screen and (max-width: 430px) {
    .subHeading{
        font-size: 20px;
    }
    .heading{
        font-size: 17px;
    }
    .contain{
        margin-top: 80px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 380px) {
    .contain{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
/* // Team Home by Id */
.box {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
    margin-top: 24px;
    height: 400px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    position: relative; /* Add position relative for absolute positioning of elements inside */
}

.box:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: scale(1.02);
    filter: grayscale(0%);
}

.img {
    width: 300px;
    transition: transform 0.5s ease-out; /* Add transition for smooth zoom animation */
}

.img:hover {
    transform: scale(0.9); /* Zoom out the image on hover */
}

.heading {
    font-size: 24px;
    color: #6610f2;
    font-weight: bold;
    margin-top: 20px;
}

.text {
    font-size: 18px;
    color: #6d7783;
    margin-left: auto;
    margin-right: auto;
}

.to {
    cursor: pointer;
    top: 0px;
}

.to:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    .heading {
        font-size: 20px;
    }
    .text {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .box {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .box {
        padding-right: 20px;
        padding-left: 20px;
        height: 350px;
    }
}

@media screen and (max-width: 410px) {
    .heading {
        font-size: 18px;
    }
    .text {
        font-size: 14px;
    }
}
